<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RedNET - Home</title>
    <link rel="shortcut icon" type="image/jpg" href="img/favicon.png" />
    <link rel="stylesheet" href="cssClient/bootstrap.min.css">
    <link rel="stylesheet" href="cssClient/after_styling.css">
    <link rel="stylesheet" href="cssClient/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
</head>

<body id="profile_body">
    <header>
        <nav id="navigation_after" class="nav navbar">
            <div class="container">
                <img id="logo" src="img/logo.png" alt="LOGO" height="50px">

                <ul id="nav-list" class="nav navbar-nav navbar-right hidden-xs">
                    <li id="home_button">
                        <a href="feed.html"> <img src="img/home.png" alt="" height="25px"> </a>
                    </li>
                    <li>
                        <a id="notification_button"><img src="img/notification.png" alt="" height="25px"></a>
                    </li>
                    <li>
                        <a href="profile.html" id="profile_button"><img src="img/profile.png" alt="Username"
                                height="25px"><span class="profile_username">Username</span></a>
                    </li>
                </ul>
                <span class="button-nav">
                    <button id="navbarToggle" type="button" class="button-nav navbar-toggle collapsed"
                        data-toggle="collapse" data-target="#collapsable-nav" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </span>
            </div>

        </nav>
        <div id="collapsable-nav" class="collapse navbar-collapse hidden-lg">
            <ul id="nav-list" class="nav navbar-nav navbar-right hidden-lg hidden-md hidden-sm">
                <li>
                    <a id="home_buttoon">
                        <img src="img/home.png" alt="" height="25px">
                        <span> Home </span>
                    </a>
                </li>
                <li>
                    <a id="contact_button">
                        <img src="img/notification.png" alt="" height="25px">
                        <span>Notification</span>
                    </a>
                </li>
                <li>
                    <a id="about_button">
                        <img src="img/profile.png" alt="" height="25px">
                        <span> Profile </span>
                    </a>
                </li>
            </ul>
        </div>
    </header>
    <!--End Of Header-->
    <!-- Breadcrumb Area Start -->
    <BR>
    <section class="breadcrumb-area bg-img bg-gradient-overlay jarallax"
        style="background-image: url(img/core-img/logobg.png);">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="breadcrumb-content">
                        <h2 class="page-title"><strong>Apropos de nous [ RedNet ]</strong></h2>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/EventAS/">Accueil</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Apropos de nous</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Area End -->


    <!-- Contact Us Area Start -->
    <section class="contact--us-area section-padding-100-0">
        <div class="container">
            <div class="row">
                <!-- Contact Us Thumb -->
                <div class="col-12 col-lg-6">
                    <div class="contact-us-thumb mb-100">
                        <img src="img/EnsiasBG.jpg" alt="" width="500" height="500">
                    </div>
                </div>

                <!-- Contact Form -->
                <div class="col-12 col-lg-6">
                    <div class="contact_from_area mb-100 clearfix">
                        <!-- Contact Heading -->
                        <div class="contact-heading">
                            <h4><strong>A PROPROS DE NOUS</strong> </h4>
                            <p>Peu importe ce que vous faites exactement en informatique, un jour vous allez être
                                coincé. Et la solution à votre problème ne sera pas assez évidente. Dans
                                l'informatique moderne, aussi bon que vous soyez, vous ne pouvez pas tout faire par
                                vous-même. Tout devient plus large et plus difficile à maîtriser. Vous aurez donc
                                toujours besoin de l'aide d'experts dans des domaines sur lesquels vous ne savez pas
                                grand-chose, voire rien, ou même dans votre domaine actuel. </p>
                            <P>Tout cela crée le besoin d'un lieu où tous les amateurs d'informatique peuvent se
                                rassembler et partager leurs connaissances et leurs problèmes et s'entraider. L’idée
                                de créer une plate-forme comme celle-ci n'est pas nouvelle, en fait il y en a une très
                                célèbre appelée "Stackoverflow" que nous connaissons tous et dont nous avons tous
                                appris au moins une fois. Mais créer une plateforme regroupant une communauté
                                particulière est plus intéressant. Notre idée est de créer une plateforme un peu
                                comme "Stackoverflow", mais uniquement pour les étudiants de l’ENSIAS.
                                RedNET est une plateforme regroupant une communauté des amis et des collègues
                                dans un cadre professionnel et éducationnel, sur laquelle ils peuvent partager leurs
                                connaissances, s'entraider, et même trouver des collaborateurs.</P>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <BR>
    <BR>
    <!-- footer -->
    <footer>
        <hr>
        <div class="container">
            <ul id="footer-list">
                <li> <a href="">Home</a> </li>
                <li> <a href="">About us</a> </li>
                <li> <a href="">Contact us</a> </li>
            </ul>
            <hr>
            <p>RedNET Copyrights © 2021</p>
        </div>
    </footer>
</body>

</html>