<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RedNET - Home</title>
    <link rel="shortcut icon" type="image/jpg" href="img/favicon.png" />
    <link rel="stylesheet" href="cssClient/bootstrap.min.css">
    <link rel="stylesheet" href="cssClient/after_styling.css">
    <link rel="stylesheet" href="cssClient/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
</head>

<body id="profile_body">
    <header>
        <nav id="navigation_after" class="nav navbar">
            <div class="container">
                <img id="logo" src="img/logo.png" alt="LOGO" height="50px">

                <ul id="nav-list" class="nav navbar-nav navbar-right hidden-xs">
                    <li id="home_button">
                        <a href="feed.html"> <img src="img/home.png" alt="" height="25px"> </a>
                    </li>
                    <li>
                        <a id="notification_button"><img src="img/notification.png" alt="" height="25px"></a>
                    </li>
                    <li>
                        <a href="profile.html" id="profile_button"><img src="img/profile.png" alt="Username"
                                height="25px"><span class="profile_username">Username</span></a>
                    </li>
                </ul>
                <span class="button-nav">
                    <button id="navbarToggle" type="button" class="button-nav navbar-toggle collapsed"
                        data-toggle="collapse" data-target="#collapsable-nav" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </span>
            </div>

        </nav>
        <div id="collapsable-nav" class="collapse navbar-collapse hidden-lg">
            <ul id="nav-list" class="nav navbar-nav navbar-right hidden-lg hidden-md hidden-sm">
                <li>
                    <a id="home_buttoon">
                        <img src="img/home.png" alt="" height="25px">
                        <span> Home </span>
                    </a>
                </li>
                <li>
                    <a id="contact_button">
                        <img src="img/notification.png" alt="" height="25px">
                        <span>Notification</span>
                    </a>
                </li>
                <li>
                    <a id="about_button">
                        <img src="img/profile.png" alt="" height="25px">
                        <span> Profile </span>
                    </a>
                </li>
            </ul>
        </div>
    </header>
    <!--End Of Header-->
    <!-- Breadcrumb Area Start -->
    <BR>
    <section class="breadcrumb-area bg-img bg-gradient-overlay jarallax">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="breadcrumb-content">
                        <h2 class="page-title"><strong>Les questions [ RedNet ]</strong></h2>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/Home">Accueil</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Questions</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Area End -->
    <section class="search-banner text-white py-3 form-arka-plan" id="search-banner">
        <div class="container py-5 my-5">
            <div class="row text-center pb-4">
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card acik-renk-form">
                        <div class="card-body">
                            <div class="row">
                                <FORM method="POST" action="/Questions/AjouterQst">
                                <div class="col-md-9">
                                    <div class="form-group ">
                                        <input type="text" class="form-control" placeholder="Veuillez poser des questions " name="poserQ">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <button type="submit" class="btn btn-warning  pl-5 pr-5">Poser</button>
                                    <button type="button" class="btn btn-success  pl-5 pr-5">Tous Questions</button>
                                </div>
                                </FORM>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <br>
    <section class="search-banner text-white py-3 form-arka-plan">
        <div class="container  h-100">
            <div class="row">
                {{#each results}}
                <div class="col-md-4">
                    <div class="card-box">
                        <div class="card-title">
                            <h2>{{this.username}}</h2>
                            <p>{{this.contenuQst}}</p>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </section>
    <footer>
        <hr>
        <div class="container">
            <ul id="footer-list">
                <li> <a href="">Home</a> </li>
                <li> <a href="">About us</a> </li>
                <li> <a href="">Contact us</a> </li>
            </ul>
            <hr>
            <p>RedNET Copyrights © 2021</p>
        </div>
    </footer>

    <script src="../js/jquery-3.5.1.min.js ">
    </script>
    <script src="../js/bootstrap.js ">
    </script>
    <script src="../js/profile.js ">
    </script>
    <script src="../js/script.js ">
    </script>
</body>

</html>